.footer {
    border-top: 1px solid var(--grey-2);
    padding-left: 417px;
    padding-right: 383px;
    padding-bottom: 136px;
}

.footer__wrapper {
    width: 620px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin: 0;
    margin-top: 72px;
}

.footer__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0;
}